.footer {
  margin: 0;
  box-sizing: border-box;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 18px;
}

@media screen and (max-width: 984px) {
  .footer {
    padding: 0 24px;
  } 
}

@media screen and (max-width: 568px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    padding: 0 16px;
  } 

  .footer nav ul {
    flex-direction: column;
    gap: 32px;
  }
}